

* {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

body {
  background-image: url("../src/assets/hardware.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.nav {
  background: rgba(19, 131, 197, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(19, 131, 197, 0.65);
}

.question {
  background: rgba(19, 131, 197, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(19, 131, 197, 0.65);
}

.selected:active {
  border: 8px solid #1383c5;
}

.chosen-img {
  border-width: 8px;
  border-color: #1383c5;
  border-style: solid;
}

input[type="radio"],
input[type="checkbox"] {
  transform: scale(2);
}
